# **PERSIAPAN**

In [118]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx
import warnings
warnings.filterwarnings('ignore')

In [119]:
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/sales_parsing.xlsx')
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kode Produk,Deskripsi,Kuantitas,Harga per Unit,Total,Tag,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,C-PRO4070D27,NaN,1,2100000.0,2100000.0,"Custom Order,Repeat Order,B2C,Singapore",NaN,Repeat Order,NaN,B2C,Singapore,1050000.0,1050000
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,C-MRP7525D12,NaN,2,800000.0,1600000.0,"WhatsApp,Custom Order,New Customer,B2C,Singapore",WhatsApp,New Customer,NaN,B2C,Singapore,800000.0,800000
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,C-MRP4520D28,NaN,1,500000.0,500000.0,"WhatsApp,Custom Order,New Customer,B2C,Singapore",WhatsApp,New Customer,NaN,B2C,Singapore,250000.0,250000
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,C-MRP6020D22,NaN,1,700000.0,700000.0,"WhatsApp,Custom Order,New Customer,B2C,Singapore",WhatsApp,New Customer,NaN,B2C,Singapore,350000.0,350000
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,SHP,Waiting for the Arta Express - Include Materia...,1,1650000.0,1650000.0,"WhatsApp,Custom Order,New Customer,B2C,Singapore",WhatsApp,New Customer,NaN,B2C,Singapore,825000.0,825000

# **EKSPLORASI DATA**

In [120]:
data.shape

(1952, 17)

In [121]:
print (data.isnull().sum())
print (data.shape)

Tanggal                0
Nomor Transaksi        0
Nama Panggilan         0
Nama Produk            0
Kode Produk          159
Deskripsi           1137
Kuantitas              0
Harga per Unit         0
Total                  0
Tag                  418
Platform             526
Status Pelanggan     587
Kategori produk     1225
Tipe Pelanggan       532
Lokasi               658
Cost Produksi          0
Profit                 0
dtype: int64
(1952, 17)

In [122]:
data.drop(["Deskripsi", "Tag", "Kode Produk"], inplace=True, axis=1)

In [123]:
print (data.isnull().sum())
print (data.shape)

Tanggal                0
Nomor Transaksi        0
Nama Panggilan         0
Nama Produk            0
Kuantitas              0
Harga per Unit         0
Total                  0
Platform             526
Status Pelanggan     587
Kategori produk     1225
Tipe Pelanggan       532
Lokasi               658
Cost Produksi          0
Profit                 0
dtype: int64
(1952, 14)

# **IMPUTASI PLATFORM**

In [124]:
data['Platform'].nunique()

3

In [125]:
data['Platform'].value_counts().sort_values(ascending=False).head(9)

Platform
WhatsApp     1382
Company        42
Tokopedia       2
Name: count, dtype: int64

In [126]:
# Melakukan imputasi dengan mengisi nilai kosong di kolom 'Platform'
data['Platform'] = data['Platform'].fillna('WhatsApp')

# Menampilkan beberapa baris pertama untuk memverifikasi
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,NaN,B2C,Singapore,1050000.0,1050000
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,NaN,B2C,Singapore,800000.0,800000
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,NaN,B2C,Singapore,250000.0,250000
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,NaN,B2C,Singapore,350000.0,350000
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,NaN,B2C,Singapore,825000.0,825000

In [127]:
print (data.isnull().sum())
print (data.shape)

Tanggal                0
Nomor Transaksi        0
Nama Panggilan         0
Nama Produk            0
Kuantitas              0
Harga per Unit         0
Total                  0
Platform               0
Status Pelanggan     587
Kategori produk     1225
Tipe Pelanggan       532
Lokasi               658
Cost Produksi          0
Profit                 0
dtype: int64
(1952, 14)

# **IMPUTASI STATUS PELANGGAN**

In [128]:
data['Status Pelanggan'].nunique()

2

In [129]:
data['Status Pelanggan'].value_counts().sort_values(ascending=False).head(3)

Status Pelanggan
New Customer    878
Repeat Order    487
Name: count, dtype: int64

In [130]:
# Melakukan imputasi dengan mengisi nilai kosong di kolom 'Status Pelanggan'
data['Status Pelanggan'] = data['Status Pelanggan'].fillna('New Customer')

# Menampilkan beberapa baris pertama untuk memverifikasi
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,NaN,B2C,Singapore,1050000.0,1050000
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,NaN,B2C,Singapore,800000.0,800000
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,NaN,B2C,Singapore,250000.0,250000
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,NaN,B2C,Singapore,350000.0,350000
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,NaN,B2C,Singapore,825000.0,825000

In [131]:
# # Membuat dictionary untuk encoding
# encoding_dict = {
#     'New Customer': 2,
#     'Repeat Order': 1
# }

# # Menambahkan kolom baru 'encoding_tipe_order'
# data['encoding_status_pelanggan'] = data['Status Pelanggan'].map(encoding_dict)

# # Menampilkan data yang telah diperbarui
# data.head()

In [132]:
print (data.isnull().sum())
print (data.shape)

Tanggal                0
Nomor Transaksi        0
Nama Panggilan         0
Nama Produk            0
Kuantitas              0
Harga per Unit         0
Total                  0
Platform               0
Status Pelanggan       0
Kategori produk     1225
Tipe Pelanggan       532
Lokasi               658
Cost Produksi          0
Profit                 0
dtype: int64
(1952, 14)

# **IMPUTASI KATEGORI PRODUK**

In [133]:
data['Kategori produk'].nunique()

13

In [134]:
data['Kategori produk'].value_counts().sort_values(ascending=False).head(13)

Kategori produk
Furniture          281
Board              173
Sample Kit          93
Free Sample         81
Home Decoration     43
FnB                 34
Interior Design      6
Top Golf             3
Custom Sample        3
FNB                  3
Custom Cut           3
Recycle Bin          2
Frame Photo          2
Name: count, dtype: int64

In [135]:
# Mengganti 'FNB' dengan 'FnB' di kolom 'Kategori produk'
data['Kategori produk'] = data['Kategori produk'].replace('FNB', 'FnB')

# Menampilkan data yang telah diperbarui
data['Kategori produk'].value_counts().sort_values(ascending=False).head(13)

Kategori produk
Furniture          281
Board              173
Sample Kit          93
Free Sample         81
Home Decoration     43
FnB                 37
Interior Design      6
Top Golf             3
Custom Sample        3
Custom Cut           3
Recycle Bin          2
Frame Photo          2
Name: count, dtype: int64

In [138]:
data = data[data['Total'] != 0]

In [139]:
# Menampilkan data tanpa menggunakan print, hanya dengan menuliskan variabel
data[data['Total'] == 0]

Empty DataFrame
Columns: [Tanggal, Nomor Transaksi, Nama Panggilan, Nama Produk, Kuantitas, Harga per Unit, Total, Platform, Status Pelanggan, Kategori produk, Tipe Pelanggan, Lokasi, Cost Produksi, Profit]
Index: []

In [140]:
data['Kategori produk'].value_counts().sort_values(ascending=False).head(13)

Kategori produk
Furniture          250
Board              169
Sample Kit          77
Free Sample         73
Home Decoration     26
FnB                 24
Interior Design      6
Top Golf             3
Custom Sample        3
Custom Cut           3
Recycle Bin          2
Frame Photo          2
Name: count, dtype: int64

In [141]:
# Mengganti nilai 'Free Sample' menjadi 'Sample Kit' pada kolom 'Kategori produk'
data['Kategori produk'] = data['Kategori produk'].replace('Free Sample', 'Sample Kit')

In [142]:
# Melakukan imputasi dengan mengisi nilai kosong di kolom 'Kategori produk'
data['Kategori produk'] = data['Kategori produk'].fillna('Furniture')

# Menampilkan beberapa baris pertama untuk memverifikasi
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,Furniture,B2C,Singapore,1050000.0,1050000
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,800000.0,800000
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,250000.0,250000
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,350000.0,350000
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,825000.0,825000

In [143]:
data['Kategori produk'].value_counts().sort_values(ascending=False).head(13)

Kategori produk
Furniture          1244
Board               169
Sample Kit          150
Home Decoration      26
FnB                  24
Interior Design       6
Top Golf              3
Custom Sample         3
Custom Cut            3
Recycle Bin           2
Frame Photo           2
Name: count, dtype: int64

In [144]:
# # Membuat dictionary untuk encoding kategori produk
# encoding_kategori_dict = {
#     'Furniture': 12,
#     'Board': 11,
#     'Sample Kit': 10,
#     'Free Sample': 9,
#     'Home Decoration': 8,
#     'FnB': 7,
#     'Interior Design': 6,
#     'Top Golf': 5,
#     'Custom Sample': 4,
#     'FNB': 3,
#     'Custom Cut': 2,
#     'Recycle Bin': 1,
#     'Frame Photo': 0
# }

# # Menambahkan kolom baru 'encoding_kategori_produk'
# data['encoding_kategori_produk'] = data['Kategori produk'].map(encoding_kategori_dict)

# # Menampilkan data yang telah diperbarui
# data.head()

In [145]:
print (data.isnull().sum())
print (data.shape)

Tanggal               0
Nomor Transaksi       0
Nama Panggilan        0
Nama Produk           0
Kuantitas             0
Harga per Unit        0
Total                 0
Platform              0
Status Pelanggan      0
Kategori produk       0
Tipe Pelanggan      438
Lokasi              563
Cost Produksi         0
Profit                0
dtype: int64
(1632, 14)

# **Imputasi Tipe Pelanggan**

In [146]:
data['Tipe Pelanggan'].nunique()

2

In [147]:
data['Tipe Pelanggan'].value_counts().sort_values(ascending=False).head(2)

Tipe Pelanggan
B2B    901
B2C    293
Name: count, dtype: int64

In [148]:
# Melakukan imputasi dengan mengisi nilai kosong di kolom 'Tipe Pelanggan'
data['Tipe Pelanggan'] = data['Tipe Pelanggan'].fillna('B2B')

# Menampilkan beberapa baris pertama untuk memverifikasi
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,Furniture,B2C,Singapore,1050000.0,1050000
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,800000.0,800000
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,250000.0,250000
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,350000.0,350000
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,825000.0,825000

In [ ]:
# # Membuat dictionary untuk encoding
# encoding_dict = {
#     'B2B': 1,
#     'B2C': 0
# }

# # Menambahkan kolom baru 'encoding_tipe_order'
# data['encoding_tipe_pelanggan'] = data['Tipe Pelanggan'].map(encoding_dict)

# # Menampilkan data yang telah diperbarui
# data.head()

In [149]:
print (data.isnull().sum())
print (data.shape)

Tanggal               0
Nomor Transaksi       0
Nama Panggilan        0
Nama Produk           0
Kuantitas             0
Harga per Unit        0
Total                 0
Platform              0
Status Pelanggan      0
Kategori produk       0
Tipe Pelanggan        0
Lokasi              563
Cost Produksi         0
Profit                0
dtype: int64
(1632, 14)

# **Imputasi Lokasi**

In [150]:
data['Lokasi'].nunique()

51

In [151]:
data['Lokasi'].value_counts().sort_values(ascending=False).head(51)

Lokasi
Bali                 156
Jakarta              124
Singapore            107
Jakarta Selatan       88
Bandung               75
Tangerang             54
Surabaya              54
Denpasar              30
Jakarta Barat         29
Bogor                 25
Jogja                 24
Jakarta Utara         22
Jakarta Timur         21
Tangerang Selatan     17
Depok                 15
Makassar              14
Jakarta Pusat         14
Banten                13
Madrid                11
Jepara                11
Palembang             11
Batu                  10
Bekasi                10
Riau                  10
Malang                10
Dubai                  8
Cirebon                8
Yogyakarta             7
Mojokerto              7
Cikarang               7
Pakistan               7
Sidoarjo               6
Australia              6
Taiwan                 6
Klaten                 5
Bandung Barat          5
Semarang               5
Demak                  4
Cimahi                 4
Pekanbaru              4
Gresik                 4
Jepang                 3
Samarinda              3
Banyuwangi             2
Sukoharjo              2
Philippines            2
Lombok                 2
Pontianak              2
Jawa Barat             2
Kuala Lumpur           2
Manado                 1
Name: count, dtype: int64

In [152]:
# Melakukan imputasi dengan mengisi nilai kosong di kolom 'Tipe Order'
data['Lokasi'] = data['Lokasi'].fillna('Bali')

# Menampilkan beberapa baris pertama untuk memverifikasi
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,Furniture,B2C,Singapore,1050000.0,1050000
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,800000.0,800000
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,250000.0,250000
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,350000.0,350000
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,825000.0,825000

In [153]:
# Create DataFrame
data = pd.DataFrame(data)

# Tambahkan kolom "Provinsi" dengan nilai awal kosong
data["Provinsi"] = ""

# Display the DataFrame with the new column
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit,Provinsi
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,Furniture,B2C,Singapore,1050000.0,1050000,
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,800000.0,800000,
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,250000.0,250000,
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,350000.0,350000,
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,825000.0,825000,

In [154]:
# Mengisi kolom Provinsi satu per satu
data.loc[data["Lokasi"] == "Bali", "Provinsi"] = "Bali"
data.loc[data["Lokasi"] == "Denpasar", "Provinsi"] = "Bali"

data.loc[data["Lokasi"] == "Banten", "Provinsi"] = "Banten"
data.loc[data["Lokasi"] == "Tangerang", "Provinsi"] = "Banten"
data.loc[data["Lokasi"] == "Tangerang Selatan", "Provinsi"] = "Banten"

data.loc[data["Lokasi"] == "Jakarta", "Provinsi"] = "DKI Jakarta"
data.loc[data["Lokasi"] == "Jakarta Barat", "Provinsi"] = "DKI Jakarta"
data.loc[data["Lokasi"] == "Jakarta Pusat", "Provinsi"] = "DKI Jakarta"
data.loc[data["Lokasi"] == "Jakarta Selatan", "Provinsi"] = "DKI Jakarta"
data.loc[data["Lokasi"] == "Jakarta Timur", "Provinsi"] = "DKI Jakarta"
data.loc[data["Lokasi"] == "Jakarta Utara", "Provinsi"] = "DKI Jakarta"

data.loc[data["Lokasi"] == "Bandung", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Bandung Barat", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Bekasi", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Bogor", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Cikarang", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Cimahi", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Cirebon", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Depok", "Provinsi"] = "Jawa Barat"
data.loc[data["Lokasi"] == "Jawa Barat", "Provinsi"] = "Jawa Barat"

data.loc[data["Lokasi"] == "Demak", "Provinsi"] = "Jawa Tengah"
data.loc[data["Lokasi"] == "Jepara", "Provinsi"] = "Jawa Tengah"
data.loc[data["Lokasi"] == "Klaten", "Provinsi"] = "Jawa Tengah"
data.loc[data["Lokasi"] == "Semarang", "Provinsi"] = "Jawa Tengah"
data.loc[data["Lokasi"] == "Sukoharjo", "Provinsi"] = "Jawa Tengah"

data.loc[data["Lokasi"] == "Banyuwangi", "Provinsi"] = "Jawa Timur"
data.loc[data["Lokasi"] == "Batu", "Provinsi"] = "Jawa Timur"
data.loc[data["Lokasi"] == "Gresik", "Provinsi"] = "Jawa Timur"
data.loc[data["Lokasi"] == "Malang", "Provinsi"] = "Jawa Timur"
data.loc[data["Lokasi"] == "Mojokerto", "Provinsi"] = "Jawa Timur"
data.loc[data["Lokasi"] == "Sidoarjo", "Provinsi"] = "Jawa Timur"
data.loc[data["Lokasi"] == "Surabaya", "Provinsi"] = "Jawa Timur"

data.loc[data["Lokasi"] == "Pontianak", "Provinsi"] = "Kalimantan"
data.loc[data["Lokasi"] == "Samarinda", "Provinsi"] = "Kalimantan"

data.loc[data["Lokasi"] == "Lombok", "Provinsi"] = "Nusa Tenggara Barat"

data.loc[data["Lokasi"] == "Makassar", "Provinsi"] = "Sulawesi"
data.loc[data["Lokasi"] == "Manado", "Provinsi"] = "Sulawesi"

data.loc[data["Lokasi"] == "Palembang", "Provinsi"] = "Sumatera"
data.loc[data["Lokasi"] == "Pekanbaru", "Provinsi"] = "Sumatera"
data.loc[data["Lokasi"] == "Riau", "Provinsi"] = "Sumatera"

data.loc[data["Lokasi"] == "Jogja", "Provinsi"] = "Yogyakarta"
data.loc[data["Lokasi"] == "Yogyakarta", "Provinsi"] = "Yogyakarta"

data.loc[data["Lokasi"] == "Australia", "Provinsi"] = "Australia"

data.loc[data["Lokasi"] == "Philippines", "Provinsi"] = "Filipina"

data.loc[data["Lokasi"] == "Jepang", "Provinsi"] = "Jepang"

data.loc[data["Lokasi"] == "Pakistan", "Provinsi"] = "Pakistan"

data.loc[data["Lokasi"] == "Singapore", "Provinsi"] = "Singapura"

data.loc[data["Lokasi"] == "Madrid", "Provinsi"] = "Madrid"

data.loc[data["Lokasi"] == "Taiwan", "Provinsi"] = "Taiwan"

data.loc[data["Lokasi"] == "Dubai", "Provinsi"] = "Dubai"

data.loc[data["Lokasi"] == "Kuala Lumpur", "Provinsi"] = "Kuala Lumpur"


# Display the DataFrame with the filled 'Provinsi' column
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit,Provinsi
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,Furniture,B2C,Singapore,1050000.0,1050000,Singapura
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,800000.0,800000,Singapura
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,250000.0,250000,Singapura
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,350000.0,350000,Singapura
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,825000.0,825000,Singapura

In [155]:
# Membuat dictionary untuk encoding
encoding_dict = {
    'Kuala Lumpur':19,
    'Banten': 18,
    'Bali': 17,
    'DKI Jakarta': 16,
    'Jawa Barat': 15,
    'Jawa Tengah': 14,
    'Yogyakarta': 13,
    'Jawa Timur': 12,
    'Kalimantan': 11,
    'Nusa Tenggara Barat': 10,
    'Sulawesi': 9,
    'Sumatera': 8,
    'Australia': 7,
    'Filipina': 6,
    'Jepang': 5,
    'Pakistan': 4,
    'Singapura': 3,
    'Madrid': 2,
    'Taiwan': 1,
    'Dubai': 0

}

# Menambahkan kolom baru 'encoding_tipe_order'
data['encoding_provinsi'] = data['Provinsi'].map(encoding_dict)

# Menampilkan data yang telah diperbarui
data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit,Provinsi,encoding_provinsi
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,Furniture,B2C,Singapore,1050000.0,1050000,Singapura,3
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,800000.0,800000,Singapura,3
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,250000.0,250000,Singapura,3
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,350000.0,350000,Singapura,3
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,825000.0,825000,Singapura,3

In [156]:
print (data.isnull().sum())
print (data.shape)

Tanggal              0
Nomor Transaksi      0
Nama Panggilan       0
Nama Produk          0
Kuantitas            0
Harga per Unit       0
Total                0
Platform             0
Status Pelanggan     0
Kategori produk      0
Tipe Pelanggan       0
Lokasi               0
Cost Produksi        0
Profit               0
Provinsi             0
encoding_provinsi    0
dtype: int64
(1632, 16)

# **Mengambil Data Bulan**

In [157]:
# Mengonversi kolom 'Tanggal' ke datetime dan menambahkan kolom 'Bulan' yang berisi bulan
data['Bulan'] = pd.to_datetime(data['Tanggal']).dt.month

data.head()

,Tanggal,Nomor Transaksi,Nama Panggilan,Nama Produk,Kuantitas,Harga per Unit,Total,Platform,Status Pelanggan,Kategori produk,Tipe Pelanggan,Lokasi,Cost Produksi,Profit,Provinsi,encoding_provinsi,Bulan
0,2024-01-02 00:00:00,SKG.INV-1/2024,Chloe,Custom Mirror 400mm x 700mm Rose,1,2100000.0,2100000.0,WhatsApp,Repeat Order,Furniture,B2C,Singapore,1050000.0,1050000,Singapura,3,1
1,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 750x250x20mm Bilberry,2,800000.0,1600000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,800000.0,800000,Singapura,3,1
2,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 450x200x20mm Light Terrarium,1,500000.0,500000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,250000.0,250000,Singapura,3,1
3,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Custom Top Table 600x200x20mm Peach,1,700000.0,700000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,350000.0,350000,Singapura,3,1
4,2024-01-02 00:00:00,SKG.INV-2/2024,Chloe,Shipping,1,1650000.0,1650000.0,WhatsApp,New Customer,Furniture,B2C,Singapore,825000.0,825000,Singapura,3,1

# **Melakukan save data**

In [158]:
# Menyimpan data yang sudah terimputasi ke file CSV
data.to_excel('/content/drive/MyDrive/Colab Notebooks/sales_clean.xlsx', index=False)

print("Data berhasil disimpan ke file '/content/drive/MyDrive/Colab Notebooks/sales_clean.xlsx'")

Data berhasil disimpan ke file '/content/drive/MyDrive/Colab Notebooks/sales_clean.xlsx'

In [ ]:
# Menyimpan data yang sudah terimputasi ke file CSV
data.to_csv('/content/drive/MyDrive/Colab Notebooks/sales_clean.csv', index=False)

print("Data berhasil disimpan ke file '/content/drive/MyDrive/Colab Notebooks/sales_clean.csv'")

Data berhasil disimpan ke file '/content/drive/MyDrive/Colab Notebooks/sales_clean.csv'